/*GENERAL*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
    
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
} 
  

/*HEADER*/
.nav-link{
    color:white;
    text-decoration: none;
    padding: 8px 12px;
}

.nav-item:hover{
    background-color: red;
    transition: .4s;
}

.container-fluid{
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
}

.navbar-brand{
    font-weight: bolder;
    margin-right: 0;
}


.offcanvas-title{
    font-weight: bolder;
    font-size: 1.5rem;
}

.nav-item{
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
}    


/*FOOTER*/
.padreFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-top: 30px;
    margin-bottom: 100px;
}

.footerdiv{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
}

.api{
    margin-right: 30px;
    background-color: red;
    width: max-content;
    padding: 10px;
    border: 2px solid red;
    border-radius: 30px;
    color: black;
}

.api a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.api a:hover{
    color: white;
}


/*API*/

#elem{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    margin:  100px 25vh 100px 25vh;
    background-color: grey;
    border: 3px solid gray;
    border-radius: 30px;
    padding: 50px;
    width: 500px;
}


/*INDEX*/
.padre{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contenidoIndex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.contenedorPpal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-image: url("/img/portada1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 80vh;
    width: 100%;
    margin-top: 10vh;
}
    
.hijo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 20px 30px 20px 30px;
    font-size: 3vh;
    color: white;
    width: 50vh;
    height: 90%;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    background-color: black;
    border: black solid 2px;
    border-radius: 60px;
    opacity: 0.8;
}
    
.contenedor1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: max-content;
}

.eslogan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 10px;
    margin-left: 30px;
}
      
.fotosushi{
    margin-bottom: 40px;
}

.fotosushi:hover{
    transform:scale (1.08);
    -webkit-transform: scale(1.08);
    margin-right: 17px;
    margin-left: 10px;
}
    
.contenedor2{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 70px;

}
   
.contenedor3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    margin-bottom: 130px;
    padding: 30px;
}
    
.div2x1{
    border: black 2px solid;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;

}

.divtako{
    border: black 2px solid;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;

}

.divtako:hover{
    transform:scale (1.08);
    -webkit-transform: scale(1.08);
}

.div2x1:hover{
    transform:scale (1.08);
    -webkit-transform: scale(1.08);
}


/*NOSTROS*/
.contenedormain{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 100px;
    width: 100%;
    height: max-content;
    
}

.nosotros{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-image: url(/img/montefuji.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px;
    align-items: center;    
}

.imagen{
    border-radius: 50%;
    border: 3px solid rgba(255, 0, 0, 0.623);
}

.cont p{
    margin-left: 20px;
    color:white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: black 0.2em 0.2em 0.3em;
}

.fotos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*GALERIA*/
.h1Galeria{
    margin-top: 20vh;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
}

.contenidoGaleria{

    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 30px 130px 30px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.cajaGaleria{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 50px;
    align-items: center;
    padding: 30px;
    width: 600px;
}

.imgStyle{
    border: grey solid 3px;
    border-radius: 30px;
    overflow: hidden;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.texto h2{
    color: rgb(180, 27, 0);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
}

p{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 1rem;
}


/*CONTACTO*/

.contenedorContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 30px 0 30px;

}

.contenedorContacto h2{
    text-align: center;
    color: red;
    margin-bottom: 50px;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 100px;
    color: red;
}

.redesIconos ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 130px;
    color: white;
    border: 3px solid gray;
    border-radius: 30px;
    padding: 30px;
}

.form-group{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cajaBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formulario button{
    background-color: red;
    margin: 10px;
}

/*VER SI HACE FALTA MQ*/

@media (max-width: 450px) {
    .logo{
        display: none;
    }
    .hijo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .sushisalmon{
        width: 300px;
    }
    .promos{
        width: 220px;
    }
    .imagen{
        width: 250px;
        height: 250px;
    }
    .cajaGaleria{
        padding: 10px;
    }
    .fotoGaleria{
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .contenedor1{
        display: flex;
        flex-direction: column-reverse;
    }
    .fotosushi{
        display: flex;
        overflow: hidden;
    }
    .eslogan{
        margin-right: 30px;
    }
    .cont p{
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .nosotros{
        display: flex;
        flex-direction: column;
    }
    .cont-img{
        margin-bottom: 20px;
    }
}