*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.padreGaleria{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
}

.container-fluid{
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
}

.navbar-brand{
    font-weight: bolder;
    margin-right: 0;
}


.offcanvas-title{
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
}

.nav-item{
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: center;
}

.h1Galeria{
    margin-top: 20vh;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
}

.contenidoGaleria{

    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 30px 130px 30px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.cajaGaleria{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 50px;
    align-items: center;
    padding: 30px;
}

.imgStyle{
    border: grey solid 3px;
    border-radius: 30px;
    overflow: hidden;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.texto h2{
    color: rgb(180, 27, 0);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
}

p{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 1rem;
}

footer{
    background-color: black;
    color:white;
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.tituloFooter{
    font-weight: bolder;
    padding: 5px;
    margin-top: 10px;    
}

.redesFooter{
    display: flex;
    height:fit-content;

}

.redesFooter ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
}

.redesFooter li{
    list-style: none;
    size: 2rem;
    margin: 3vh;

}


