

*{margin: 0;
    box-sizing: border-box;
    }
    body{font-family: 'Courier New', Courier, monospace;
    padding: 90px 20px 0px;
    background-color: black;
    }

    
    
    .header{
        background-color: black;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        height: 90px;
        position: fixed;
        width:100%;
                top:0;
        left:0;
    }
    
    .nav-toggle{
        display: none;
        color:black;
        background-color: white;
        border:none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 80px;
            }
    
    .img-ico-header{
    
        height: 80px;
        width:90px;
       }
    
       .nav{
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
        }
    
    .nav-link{
        color:white;    
        text-decoration: none;
        }
    
    .nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    
    }
    .nav-menu-item{
        font-size: 18px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
        font-weight: bolder;
    }
    
    .nav-menu-link{
        padding: 8px 12px;
        border-radius: 3px;
    }
    
    
    .nav-menu-link:hover{
        background-color: red;
        color: white;
        transition: .4s;
    }
    

    
    .contenedormain{
        padding-left: 50px;
            
        display: flex;
        margin-right: 40px;
        background-image: url(./img/montefuji.jpg);
        background-repeat: no-repeat;
        width: auto;
        height: 550px ;
        background-attachment: fixed;
       
             
         }

    .imagen{
        height: 400px;
        width: 350px;
        border-radius: 50%;
        border-style: double;
        border-color: red;
        border: 1px solid (255 255 255 0);
    }
    
    .contenedora{
        margin-top: 80px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: 30px;

        border-top: 30px;
        color:white;
        font-weight: bolder;
        text-shadow: black 0.2em 0.2em 0.3em;
        
       
    }
    .cont-img{
        margin-top: 20px;
        margin-right: 30px;
    }


    .fotos{
        display: flex;
        justify-content: space-between;
    }
    
   
.footerdiv{
    background-image: url("./img/fondo\ footer.jpg");
    background-repeat: no-repeat;
}

.footer-menu{
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    
    }

    .footer-menu-link{

        color: white;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: s;
    }
        
.footer-menu-item{
    margin-left: 20px;
    margin-right: 20px;
}
    
    
    /*/////////////////////////////// modod celu + tablet ////////////////////////////////////////////////////////////////////*/
    
    @media (max-width: 768px){
    

        body{
            display: flex;
            background-color: black;
            padding-top: 80px;
            flex-direction: column;   
        }
        .header{
            background-color: black;
            height: 85px;
            text-align: center;
            width: 100%;
            align-items: center;
               }
        
                
        .nav-toggle{
            display: block;
            color:black;
            background-color: white;
            border:none;
            font-size: 30px;
            padding: 0 20px;
            line-height: 80px;
                }
     
    
    
       .logo-nav-link{
        text-align: center;
       }
        .logo{
        
            font-size: 25px;
            padding: 0 20px;
            line-height: 80px;
        }
        .nav-menu{
        
       flex-direction: column;
       align-items: center;  
       margin-right: 0px;
        background:black;
        background-repeat: no-repeat;    
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%; 
        padding:30px 0;
        height: max-content;
        left:100%;
        transition: left 0.3s;
     
        
        }
    
        .nav-menu_visible{
            left:0;
        
        }
    
        .nav-menu-item{
           line-height: 80px;
           
            margin:0 10px; 
            font-size: 40px;
            width: max-content;
            
        }
        
       .nav-menu-link:hover{
            background:none;
            color: white;
            transition: 0.4s;
        }

        .contenedormain{
            margin-top: 50px;
            padding-left: 0px;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-right: 0px;
            background-image: none;
            background-repeat: no-repeat;
            width: 100%;
            height: auto ;
            background-attachment: fixed;
                 
                 
             }
             .contenedora{
                
                font-weight: bolder;
                padding-left: 0px;
                padding-right: 0px;
                margin-left: 10px;
                border-top: 10px;
                
                text-shadow: black 0.2em 0.2em 0.3em;
             }

             .cont-img{
                margin-top: 0px;
                margin-right: 0px;
                margin-left: 0px;
            }

             
    .fotos{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        
        margin-top: 95px;
    
    }
    



    .footer-menu {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        flex-wrap: wrap;
        margin-left: 0px;

        align-items: left;
        max-width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    

    .footerdiv{
        background-image: none;
        background-repeat: no-repeat;
    }

    .footer-menu-link{

        color: white;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 25px;
    }
    .footer-menu-item{

        margin-left: 0px;
        margin-right: 0px;
        font-weight: bolder;
        margin:auto;

        
    }
.imagen2{
    display: none;
}
.imagen3{
    display: none;
}

    }







  