

*{margin: 0;
    box-sizing: border-box;
    }
    body{font-family: 'Courier New', Courier, monospace;
    padding: 90px 20px 0px;
    background-color: black;
    }

    
    
    .header{
        background-color: black;
        height: 80px;
        position: fixed;
        width:100%;
        top:0;
        left:0;
    }
    
    
    .contenedormain{
        padding-left: 120px;
            
        display: flex;
        margin-right: 40px
       
             
         }

    .imagen{
        height: 400px;
        width: 350px;

        border-radius: 50%;
    }
    
    .contenedora{
        padding-left: 25px;
        padding-right: 25px;

        border-top: 30px;
        color:white;
        position:relative;
       
    }
    
    .img-ico-header{
    
        height: 80px;
        width:90px;
       }
    
       .nav{
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
        }
    
    .nav-link{
        color:white;    
        text-decoration: none;
        }
    
    .nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    
    }
    .nav-menu-item{
        font-size: 18px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }
    
    .nav-menu-link{
        padding: 8px 12px;
        border-radius: 3px;
    }
    
    
    .nav-menu-link:hover{
        background-color: red;
        color: white;
        transition: .4s;
    }
    
    
    .footer-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        }
    
    /*modod celu
    
    @media (max-width: 768px){
    


        body{
            background-color: black;
            padding-top: 80%;   
        }
        .header{
            background-color: black;
            height: 60px;
                }
        
                
        
     
       
        .logo{
        
            font-size: 25px;
            padding: 0 20px;
            line-height: 80px;
        }
        .nav-menu{
        flex-direction: column;
        align-items: center;
        *margin:0;
        list-style: none;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 40px 0;
     
        
        }
        .nav-menu-item{
           
            line-height: 80px;
            
        }
        
       .nav-menu-link:hover{
            background-color: red;
            color: white;
            transition: .6s;
        }
    
        .nav-toggle{
           color: white;
           background: none;
            display: block;
        }
    
        .nav{
            display: flex;
            justify-content: center;
            max-width: 992px;
            margin: auto;
        }
    
        .img-ico-header{
    
            height: 80px;
            width: 90px;
        }
    
    
    
    
    }
    */