


/*{margin: 0;
box-sizing: border-box;
}*/


body{font-family: 'Courier New', Courier, monospace;
padding: 90px 20px 0px;
background-color: black;
}


.header{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    position: fixed;
    width:100%;
    top:0;
    left:0;
}


.contenedormain
    {
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

.hijo{
    color: white;
    background-image: url("./img/resto-index.jpg");
    width:1040px;
    height:500px;
    background-size: cover;
    padding-left: 20px;
    
    }



}
.img-ico-header{

    height: 80px;
    width:90px;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color:white;

    text-decoration: none;
}

.nav-menu{
display: flex;
margin-right: 40px;
list-style: none;

}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}


.nav-menu-link:hover{
    background-color: red;
    color: white;
    transition: .4s;
}


.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    }


/* ''''''''''''''''''''modo celu '''''''''''''''''''''''''''''''''''''''''''''*/


@media (max-width: 768px){

    body{
        background-color: black;
        padding-top: 80px;   
    }
    .header{
        background-color: black;
        height: 80px;
            }
    
            
    
 
   
    .logo{
    
        font-size: 25px;
        padding: 0 20px;
        line-height: 80px;
    }
    .nav-menu{
    flex-direction: column;
    align-items: center;
    *margin:0;
    list-style: none;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    
    }
    .nav-menu-item{
       
        line-height: 80px;
        
    }
    
   .nav-menu-link:hover{
        background-color: red;
        color: white;
        transition: .6s;
    }

    .nav-toggle{
       color: white;
       background: none;
        display: block;
    }

    .nav{
        display: flex;
        justify-content: center;
        max-width: 992px;
        margin: auto;
    }

    .img-ico-header{

        height: 80px;
        width: 90px;
    }


    .footer-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        }

        
    .contenedormain
            {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("./img/resto-index.jpg");
            background-size: cover;
            width:1040px;
            height:500px;

            }


        .hijo{
            color: white;
            
          
            padding-left: 20px;
            
            }



}