
/*/////////////diseño desktop////////////////////*/

*{margin: 0;
box-sizing: border-box;
}


body{font-family: 'Courier New', Courier, monospace;
padding: 90px 20px 0px;
background-color: black;
}

 
.header{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    height: 90px;
    position: fixed;
    width:100%;
            top:0;
    left:0;
}

.nav-toggle{
    display: none;
    color:black;
    background-color: white;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
        }

.img-ico-header{

    height: 80px;
    width:90px;
   }

   .nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    }

.nav-link{
    color:white;    
    text-decoration: none;
    }

.nav-menu{
display: flex;
margin-right: 40px;
list-style: none;

}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    font-weight: bolder;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}


.nav-menu-link:hover{
    background-color: red;
    color: white;
    transition: .4s;
}



.contenedormain
    {
    display: flex;
    align-items: center;
   
    background-image: url("/img/resto-index.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    }

.hijo{
    font-size: 30px;
    color: white;
    margin-top: 30px;
    width:100%;
    height:500px;
    background-size: cover;
    padding-left: 20px;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em;
    
    }

    .contenedortres{

        margin-top: 20px;
        align-items: center;
        justify-content: space-between;
        display: flex;
      
    }
    .parrafo2{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-weight: bolder;
        font-size: 30px;
      

        font-family: 'Noto Sans JP', sans-serif;
    }

    .fotosushi{
        float: right;
        margin-right: 30px;
        
    }
    
.fotosushi:hover{
    transform:scale (1.08);
    -webkit-transform: scale(1.08);
}


.sushibandeja{
    display: flex;
    align-items: center;
    justify-content: center;
}




.contenedorsecond{
    margin-top: 21px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.div2x1{
  
    
    height: 240px;
    width: 25%;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 40px;
}


.divtako{
    
    height: 240px;
    width: 25%;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 40px;
}

.divtako2{
    
    height: 240px;
    width: 25%;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 40px;
    
}



.divtako:hover{
    transform:scale (1.08);
    -webkit-transform: scale(1.08);

}
.divtako2:hover{
    transform:scale (1.08);
    -webkit-transform: scale(1.08);
}

.div2x1:hover{
    transform:scale (1.08);
    -webkit-transform: scale(1.08);
}


.img30{
    width: auto;
    height: 100%;
}




.footerdiv{
    background-image: url("/img/fondo\ footer\ prueba.jpg");
    background-repeat: no-repeat;
    background-position: left;
}

.footer-menu{
    margin-left: 180px;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto%;
    height: 250px;
    
    }

    .footer-menu-link{

        color: white;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
    }
        
.footer-menu-item{

    margin-left: 20px;
    margin-right: 20px;
}
    

/* /////////////////////////  modo celu actuales + tablet //////////////////////////*/


@media (max-width: 768px){

    body{
        display: flex;
        flex-direction: column;
        background-color: black;
        padding-top: 80px;
        align-items: center;   
    }
    .header{
        background-color: black;
        height: 85px;
        text-align: center;
        width: 100%;
        align-items: center;
           }
    
            
    .nav-toggle{
        display: block;
        color:black;
        background-color: white;
        border:none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 80px;
            }
 


   .logo-nav-link{
    text-align: center;
   }


    .logo{
    
        font-size: 25px;
        padding: 0 20px;
        line-height: 80px;
    }


    .nav-menu{
    
        flex-direction: column;
        align-items: center;  
        margin-right: 0px;
         background:black;
         background-repeat: no-repeat;    
         position: fixed;
         left: 0;
         top: 80px;
         width: 100%; 
         padding:30px 0;
         height: max-content;
         left:100%;
         transition: left 0.3s;
      
         
         }


    .nav-menu_visible{
        left:0;
    
    }

    .nav-menu-item{
       line-height: 80px;
       
        margin:0 10px; 
        font-size: 40px;
        width: max-content;
        
    }
    
   .nav-menu-link:hover{
        background:none;
        color: white;
        transition: 0.4s;
    }
    
        
    .contenedormain
            {
            display: flex;
            align-items:flex-start;
            justify-content: center;
            background-image: url("/img/resto-index.jpg");
            background-size: cover;
            width: 100%;
            height: auto;
       
            margin-top: 40px;

            }


    .parrafo2{

        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
    }

        .hijo{
            display: flex;
            align-items: center;

            color: white;
            margin-top: 20px;
            padding-left: 20px;
            width: 500px;
            font-size: 25px;
            
            }

    .contenedortres{
            margin-top: 20px;
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: auto;
             }

   

             .sushibandeja{
               background-image: url("./img/sushi.jpg");
            }
            .imagen{
                height: 200px;
                width: 200px;
            }
            


    .fotosushi {
        float: left;
        margin-right: 107px;
        margin-left: 10px;
        width: auto;
    }
       
.fotosushi:hover{

    
}


    .fotosushi{
        float: none;
       align-items: center;
       margin-top: 30px;
       margin-right: 0px;
       margin-left: 0;
    }

   .contenedorsecond{
     margin-top: 30px;
     display:flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     height: 100%;            
    margin-left:0px  }

  .divtako{
    margin-top: 120px;
  margin-right: 0px;
    
    height: auto;
     width: auto;
  }

  .div2x1:hover{
    transform:scale (0);
    -webkit-transform: scale(0);
}

.div2x1{
   
    
    
    height: 150px;
    width: 300px;
       
       
        background-repeat: no-repeat;
        background-position: bottom;
    }
  
    .divtako2{
        margin-top: 120px;
        height: 150px;
        width: 300px;
        
      
    } 

    .footer-menu {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        flex-wrap: wrap;
        margin-left: 0px;

        align-items: left;
        max-width: 100%;
        padding-left: 0px;
        text-align: center;
    }
    

    .footerdiv{
        background-image: none;
        background-repeat: no-repeat;
    }

    .footer-menu-link{

        color: white;
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 25px;
    }
    .footer-menu-item{

        margin-left: 0px;
        margin-right: 0px;
        font-weight: bolder;
        margin:auto;

        
    }

}




/*///////////////////////celu pequeños ////////////////////////////*/

@media (max-width: 480px){

    .hijo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 20px;
        padding-left: 20px;
        width: 450px;
        font-size: 25px;
        text-align: center;
        
        }

        .parrafo2{

            align-items: center;
            justify-content: center;
            font-size: 22px;
            margin-left: 60px;
            margin-right: 60px;
            text-align: center;

}
.footer-menu {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    flex-wrap: wrap;
    margin-left: 0px;

    align-items: left;
    max-width: 100%;
    padding-left: 0px;
    text-align: center;
}


.footerdiv{
    background-image: none;
    background-repeat: no-repeat;
}

.footer-menu-link{

    color: white;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}
.footer-menu-item{

    margin-left: 0px;
    margin-right: 0px;
    font-weight: bolder;
    margin:auto;

    
}


}
